@media (max-width: 1600px) {

}
@media (max-width: 1400px) {
    .slider__menu-item:not(:last-child) {
        margin-right: 10px;
    }  
    .dashboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        grid-gap: 10px;
    }
    .dashboard__add {
        grid-column-start: 2;
        grid-row-start: 1;
        justify-self: end;
    }
    .dashboard__information {
        grid-column: span 2;
        justify-content: space-between;
    }
}
@media (max-width: 1200px) {
    .menu__list {
        gap: 15px;
    }
    .header__icons {
        gap: 25px;
    }
    .container {
        padding: 0 41px 0 25px;
    }
    .slider__menu-item:nth-child(7) {
        display: none;
    }
    .slider__menu-item:nth-child(8) {
        display: none;
    }
    .slider__menu-item:nth-child(9) {
        display: none;
    }
    .slider__item-active::after {
        top: 47px;
    }
    .main-container {
        grid-column-gap: 30px;
    }
    .header__container {
        padding: 0 40px;
    }
}

@media (max-width: 992px) {
    .header {
        border-bottom: 1px solid var(--grey);
    }
    .menu__item:nth-child(3) {
        display: none;
    }
    .menu__item:nth-child(4) {
        display: none;
    }
    .menu__item:nth-child(5) {
        display: none;
    }
    .search__form {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .dashboard {
        width: 100%;
    }
    .container {
        padding: 0 40px;
    }
    .page {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .container__content {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width: 768px) {
    .header__icons {
        gap: 20px;
    }
    .container {
        padding: 0 10px;
    }
    .bottom__search-text {
        display: none;
    }
    .bottom__add-text {
        display: none;
    }
    .header__bottom-search {
        padding: 0;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        padding-left: 8px;
        padding-top: 1px;
    }
    .bottom__search-icon img {
        width: 13px;
        height: 13px;
    }
    .header__bottom-add {
        padding: 0;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        padding-left: 8px;
        padding-top: 1px;
    }
    .bottom__add-icon img {
        width: 13px;
        height: 13px;
    }
}

@media (max-width: 576px) {
    .header__icon {
        display: none;
    }
    .menu__list {
        display: none;
    }
    .header__icon-media {
        display: block;
        padding: 17px;
        border-radius: 100%;
        background-color: var(--light-color);
    }
    .dashboard__information {
        overflow: auto;
        max-height: 46px;
        white-space: nowrap;
    }
    .header__slider-btn {
        display: none;
    }
    .slider__menu-item:nth-child(6) {
        display: none;
    }
    .content__header-slider {
        justify-content: space-evenly;
    }
    .header__bootom-stages {
        padding: 5px 15px;
    }
    .bootom__stages-item {
        font-size: 10px;
    }
    .header {
        padding: 24px 0;
    }
}

@media (max-width: 375px) {
    .header__container {
        padding: 0 20px;
    }
    .dashboard__title {
        font-size: 15px;
    }
    .dashboard__add-text {
        display: none;
    }
    .container {
        padding: 0 5px;
    }
}

