:root {
    --light-color: #fff;
    --text-color: #6b7a99;
    --main-color: #adb8cc;
    --purple: #8833FF;
    --grey: #edeff2;
    --orange: #ff6633;
    --wild-blue-color: #7d8fb3;
    --green: #29cc39;
    --blue: #3361ff;
    --light-blue: #33bfff;
    --yellow: #ffcb33;
    --athens--gray: #f7f8fA;
}