.sidebar__navigation {
    max-width: 310px;
    border: 1px solid var(--grey);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 30px;
}
.function__item {
    padding: 25px;
    background-color: var(--light-color);
    border-radius: 10px;
}
.function__item:first-child {
    padding: 25px;
    background-color: var(--purple);
}
.function__item:not(:last-child) {
    margin-bottom: 10px;
}
.function-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.function__left {
    display: flex;
    align-items: center;
}
.function__right {
    display: flex;
    align-items: center;
}
.function__icon {
    margin-right: 25px;
}
.function__text {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    color: var(--wild-blue-color);
}
.function__text-first {
    font-weight: 900;
    color: var(--light-color);
}
.function__text-accent {
    color: var(--orange);
}
.function__num {
    width: 40px;
    height: 40px;
    padding-top: 15px;
    margin-right: 19px;
    text-align: center;
    border-radius: 100%;
    color: var(--light-color);
}
.function__num-projects {
    background-color: rgba(255, 255, 255, 0.2);
}
.function__arrow {
    padding-top: 10px;
}
.function__num-chats {
    background-color: var(--orange);
}
.function__num-calendars {
    width: 40px;
    height: 40px;
    padding-top: 13px;
    border: 1px solid #f5f6f7;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    color: var(--wild-blue-color);
}